*{
  margin: 0;
  padding: 0;
  font-family: 'Otomanopee One', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  /*background-image: url(C:\Users\sneha\Documents\web dev/image3.jpg) linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5));*/
  background-color:black ;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  position: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
 }
 .nav-links ul li a{
   color: silver;
  text-decoration: none;
  font-size: 18px; 
  font-weight: bold;
 }
 .nav-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.5s;
 }
 .nav-links ul li:hover::after{
  width: 100%;
 }
 .text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
 }
 .text-box h1{
  font-size: 60px;
 }
 .text-box p{
  margin: 10px 0 40px;
  font-size: 16px;
  color: white;
 }
 .hero-btn{
  display: inline-block;
  text-decoration: none;
  color: yellow;
  border: 1px solid yellow;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
 }
 .hero-btn:hover{
  border: 1px solid silver;
  background: gray;
  transform: 1s;
 }

nav .fa{
  display: none;
}
 @media(max-width: 700px){
   .text-box h1{
  font-size: 25px;
  }
  .text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
  }
 .nav-links ul li{
  display: block;
  }
  .nav-links{
    position: absolute;
    background: #CFECEC;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    }
    nav .fa{
      display: block;
      color: white;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links ul{
      padding: 30px;
    }
 }

.body{
  background-color: silver;
  /*box-shadow: inset 10px 10px 10px 10px black;*/
}
/*ACHIEVEMENT*/
.achieve {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px;
  /*box-sizing: border-box;*/
  /*background-color: lightcyan;*/
}
.achieve h1{
  color: black;
  margin-bottom: 40px;
  padding: 0;
}

 /*COURSE*/
 .course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
 }
 h1{
  font-size: 36px;
  font-weight: 600;
 }
 p{
  color: darkblue;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
 }
 .row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
 }
 .course-col{
  flex-basis: 31%;
  background: lightcyan;
  border-radius: 15px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
 }
 h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
 }
 .course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
 }
 @media(max-width: 700px){
  .row{
    flex-direction: column;
  }
 }

 /*CAMPUS*/
 .campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
 }
 .campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
 }
 .campus-col img{
  width: 100%;
  display: block;
 }
 .layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
 }
 .layer:hover{
  background: rgba(225, 0, 0, 0.7);
 }
.layer h3{
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}
/*facilities*/
.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
/*call us*/
.cta{
  /*background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));*/
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0px;
}
.cta h1{
  color:black;
  margin-bottom: 40px;
  padding: 0;
}
 .bot-hero-btn{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
 }
 .bot-hero-btn:hover{
  border: 1px solid silver;
  background: yellow;
  transform: 1s;
 }
@media(max-width: 700px){
  .cta h1{
    font-size: 24px;
  }
}
.footer{
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px 0;
  background-color: black;
}
.icons .fa{
  color: white;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
/*.icons:hover .fa-facebook{
  color: yellow;
}*/
.fa-heart-o {
  color: yellow;
}